extends layout

block layout-content
    div.Header
            nav.navbar.navbar-light.bg-light
                a.navbar-brand(href="/") Home

    .container
        .card.border-info.mb-3
            .card-body
                h5.card-text.d-flex.justify-content-around
                    span.badge.badge-primary UI Change
                    span.badge.badge-secondary UX Change
                    span.badge.badge-success Backend Change
                    span.badge.badge-danger Database Change
                    span.badge.badge-warning Map Change
                    span.badge.badge-info User System Change
                    span.badge.badge-dark New Page

        each log, index in changelog
            .card.border-primary.mb-3
                .card-header.border-primary
                    | #{log.timestamp}
                .card-body
                    h5.card-text
                        ul
                            each element in log.changes
                                li= element
                .card-footer.border-primary.d-flex.justify-content-left.badgeFooter
                    each badge in log.badges
                        if badge == "ui"
                            span.badge.badge-primary UI
                        if badge == "ux"
                            span.badge.badge-secondary UX
                        if badge == "backend"
                            span.badge.badge-success Backend
                        if badge == "database"
                            span.badge.badge-danger Database
                        if badge == "map"
                            span.badge.badge-warning Map
                        if badge == "user_system"
                            span.badge.badge-info User System
                        if badge == "new_page"
                            span.badge.badge-dark New Page