block variables
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon", href="img/favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        title #{title} | LMG
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/customStyles.css")
        
    body
        div#root
            //block header-content
            block layout-content

    nav.fixed-bottom.navbar-light.bg-light(style="margin-top: 25px")
            h6.text-center
                i This page was made with ❤️ by 
                    a(href="https://n3ttx.me") Radovan "N3ttX" Behýl 
                    | using NodeJS, Bootstrap and PUG. ©️2020, All rights reserved.  
                    | Code hosted on 
                    a(href="https://github.com/ApplePie420/lmg-v2")  
                        img(src="svg/github-brands.svg" width="16" height="16")
                        |  GitHub 