extends layout

block layout-content
    div.Header
        nav.navbar.navbar-light.bg-light
            a.navbar-brand(href="/user") Home                        
            form.form-inline(action="/logout", method="GET")
                .form-group.mx-sm-3.mb-3
                    h4.nav-item
                        a(href="/editUser") #{username}
                .form-group.mx-sm-3.mb-3
                        a(href="/changePFP")
                            img(src="/image/" + `${pfp}` style="border-radius: 50%" width="48" height="48")     
                .form-group.mx-sm-3.mb-3
                    button.btn.btn-danger(type="submit") Log Out
  
    .container(style="margin-top: 10px")
        if error
            .alert.alert-danger(role="alert")
                | #{error}
        if info
            .alert.alert-info(role="alert")
                | #{info}

        .row(style="margin-top: 10px")
            .col-sm-12
                .card.align-items-center
                    .card-body
                        h5.card-title WiFi Map
                        p.card-text Map of all pwned WiFis around the world.
                        a.btn.btn-info(href="/map") Visit

        .row(style="margin-top: 10px")
        //TODO: Most recent changelog piece with link to /changelog page

        .row(style="margin-top: 10px")
            .col-sm-12
                .card.text-white.bg-danger.mb-3
                    .card-header This page is WIP
                    .card-body
                        .card-text Your profile page. This will contain projects you have access to, and your settings. Still in WIP tho :/